#loading {
  @extend .box-shadow;
  position: relative;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;

  transform: translate(-50%, -50%);
  svg {
    width: 100%;
  }
  svg path,
  svg rect {
    fill: $theme-green;
  }
}

.clear {
  cursor: default;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  display: block;
  height: 100vh;
  border: 0 !important;
  margin-top: -40px;
}