button,
a {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 7px 10px;
  margin: 8px 0 5px;
  background-color: #444;
  font-size: 1rem;
  color: white;
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
  border: 0;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: $theme-background-green;
  }
  &--circular {
    background-color: white;
    box-sizing: border-box;
    color: $theme-grey;
    height: $circular--button--small;
    width: $circular--button--small;
    border-radius: 50%;
    text-align: center;
    flex-shrink: 0;
    line-height: 18px;
    cursor: pointer;
    border: 0;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $theme-background-green;
      color: white;
    }
    &.inverse {
      color: $theme-grey;
      background-color: white;
      &:hover {
        color: white;
        background-color: $theme-background-green;

      }
    }
  }
  &--circular--large {
    @extend .button--circular;
    width: $circular--button--large;
    height: $circular--button--large;
    line-height: calc(#{$circular--button--large} - (#{$circular--button--large} / 10));
    padding-top: 1px;
  }
}

.add_fields__button + button {
  @extend .button;
}