.card {
  @include flex(column);
  @extend .box-shadow;
  background-color: white;
  min-width: 296px;
  align-items: center;
  margin: 0 .75rem;
  cursor: pointer;
  &__container {
    @include flex(row);
    justify-content: space-between;
  }
  &__image {
    margin: 2rem 0;
    max-width: 60px;
  }
  &__button {
    @extend .button--circular;
  }
  &__link {
    text-transform: capitalize;
    font-family: $theme-primary-font;
    color: white;
    background-color: $theme-background-grey;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: all 0.09s ease-in;
    &__container {
      @include flex(column);
      width: 100%;
      position: relative;
    }
    &:hover {
      background-color: $theme-background-green;
      color: white;
      & + .card__button {
        color: $theme-background-green;
      }
    }
  }
}

.card .button--circular {
  @extend .inverse;
  @extend .text--bold;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  color: $theme-grey;
}

// Mobile

@media screen and #{$mobile-portrait} {
  #home {
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .card {
    @include flex(row);
    margin: 0;
    &__image {
      margin: 1rem;
      width: 40px;
    }
    &__button {
      bottom: 0;
      right: 0;
      height: 100%;
      border-radius: 0;
      width: 45px;
      line-height: 45px;
      background-color: $theme-green-dark;
      color: white;
    }
    &__container {
      @include flex(column);
      width: 100%;
    }
    &__link {
      font-size: .9rem;
      height: 100%;
      padding-right: 80px;
    }
    &__link__container {
      height: 45px;
    }
  }
}

@media #{$mobile-landscape-height} and #{$mobile-landscape-width} {
  .card {
    margin: 5px;
    min-width: 250px;
    &__container {
      width: 100%;
      justify-content: space-evenly;
    }
    &__image {
      margin: .5rem;
      width: 40px;
    }
    &__button {
      bottom: 0;
      right: 0;
      height: 100%;
      border-radius: 0;
      width: 45px;
      line-height: 45px;
      background-color: $theme-green-dark;
      color: white;
    }
    &__link {
      font-size: .9rem;
      padding-right: 50px;
    }
  }
}