.filter__options {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  font-family: $theme-secondary-font;
  color: $theme-green;
  box-sizing: border-box;
  background-color: white;
  &__group {
    padding: .5rem 2rem;
    h2 {
      font-weight: bold;
      margin-bottom: 7px;
      font-size: .75rem;
    }
  }
  &__item {
    list-style: disc;
    text-indent: .25rem;
    margin: 3px 0;
    font-size: .6rem;
    list-style-position: inside;
  }
  &__link {
    font-size: .8rem;
    color: $theme-grey;
    transition: all .06s ease;
    &:hover {
      color: $theme-green;
    }
  }
}