section > form {
  @include flex(column);
  background: #272727;
  width: 100%;
  padding: 2rem;
  &:first-of-type {
    padding-top: $navigation-height;
  }
  select {
    display: none;
  }
  h1 {
    @extend .heading;
  }
  fieldset {
    margin: .375rem 0;
    & > span {
      background-color: white;
      color: black;
    }
    & > legend {
      color: $theme-green;
      font-family: $theme-secondary-font;
      margin-bottom: 6px;
    }
    & > h1 {
      @extend .heading;
      color: white;
      text-decoration: underline;
      text-decoration-color: $theme-green-dark;
      margin: 0;
    }
    & > p {
      font-family: $theme-primary-font;
      color: white;
    }
    & > input {
      font-family: $theme-primary-font;
      padding: .7rem;
      height: 40px;
      width: 100%;
      max-width: 400px;
      font-size: .9rem;
    }
  }
}

/* Submit Button  */
form input[type=submit] {
  @extend .button;
  max-width: 200px;
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  section > form {
    padding: 1rem;
    input[type=submit] {
      align-self: flex-end;
    }
    h1 {
      font-size: 2rem !important;
    }
    fieldset > legend {
      font-size: .8rem;
    }
  }
}