.grid {
  display: grid;
  grid-row: 1;
  /* define the number of grid columns */
  grid-template-columns: repeat(2, minmax(250px, 1fr));
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  .grid {
    grid-template-columns: unset;
  }
  .column {
    width: 100%;
  }
}