#home {
  @include flex(column);
  height: calc(100% - #{$navigation-height});
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  & > a:not(.social) {
    opacity: 0.4;
    color: $theme-green-dark;
    padding: .675rem;
    margin-top: 2rem;
    &:hover {
      color: white;
      opacity: 1;
      background-color: $theme-grey
    }
  }
}

.logo {
  align-self: center;
  max-width: 375px;
  width: 100%;
}

.social {
  @extend .text;
  background-color: $theme-grey;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 2rem auto;
  padding: 0.5rem;
  transition: .3s ease;
  &:hover {
    background-color: $theme-green-dark;
    color: white;
  }
  img {
    vertical-align: middle;
  }
}

// Mobile Portrait
@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  #home {
    justify-content: space-evenly;
    height: calc(100% - #{$navigation-height} - 40px);
  }
  .logo {
    max-width: 250px;
  }
  .social {
    font-size: .75rem;
    margin: 1rem;
    img {
      width: 26px;
    }
  }
}

// Mobile Landscape
@media #{$mobile-landscape-height} and #{$mobile-landscape-width} {
  #app > section#home {
    @include flex(row);
    align-content: center;
    flex-wrap: wrap;
    .logo {
      max-width: 200px;
      margin: 10px 0 1rem;
    }
    .social {
      display: none;
    }
  }
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  #home {
    .logo {
      order: 1
    }
    .card__container {
      order: 2
    }
    .social {
      order: 3
    }
    & > a.text {
      order: 4
    }
  }
}

@media #{$mobile-landscape-height} and #{$mobile-landscape-width} {
  #home {
    flex-direction: row;
    .logo,
    .card__container,
    .social,
    & > a.text {
      order: unset
    }
  }
}
