.nav .icon {
  content: '';
  display: inline-flex;
  align-self: center;
  vertical-align: middle;
  margin-right: 7px;
}

@mixin icon($width, $height) {
  height: $height;
  width: $width;
}

@mixin icon_background($path) {
  background: url('./images/icons/#{$path}') no-repeat;
  background-size: contain;
}

.icon {
  cursor: pointer;
  transition: all 0.2s ease;
  & * {
    @extend .icon;
  }
  &--home {
    @include icon_background('home.png');
    @media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
      @include icon_background('menu.png');
    }
  }
  &--logout {
    @include icon_background('logout.png');
  }
  &--plant {
    @include icon_background('inventory.png');
    &--hover {
      @include icon_background('inventory-hover.png');
    }
  }
  &--invoices {
    @include icon_background('invoices.png');
    &--hover {
      @include icon_background('invoices-hover.png');
    }
  }
  &--down_arrows {
    @include icon_background('down-arrow.png');
  }
  &--delete {
    @include icon_background('delete.png');
  }
  &--next {
    @include icon_background('next.svg');
    &:hover {
      @include icon_background('next-hover.svg')
    }
  }
  &--previous {
    @include icon_background('previous.svg');
    &:hover {
      @include icon_background('previous-hover.svg')
    }
  }
  &--edit {
    @include icon_background('edit.svg');
    &:hover {
      @include icon_background('edit-hover.svg');
      background-color: white;
    }
  }
  &--settings {
    &:hover {
      path {
        fill: white;
      }
    }
  }
}

.settings {
  padding: 3px;
}

//.spanner:before {
//  width: 20px;
//  height: 20px;
//  vertical-align: middle;
//  content: '' !important;
//  background: url('../images/icons/edit.svg') no-repeat;
//  background-size: 50%;
//  background-position: center center;
//}

.table__cell.settings_options {
  text-align: center;
  .icon {
    width: 20px;
    height: 20px;
  }
}