.inventory__information {
  @extend .grid;
  overflow-y: auto;
  padding: 2rem;
  margin-bottom: $navigation-height;
  background-color: white;
  p:first-of-type {
    &:first-letter {
      font-weight:bold;
      font-size: 5rem;
      color: #333;
    }
  }
  p {
    font-size: 1.025rem;
    color: #555;
    line-height: 1.5rem;
    font-family: 'Crimson Text', serif;
    text-align: justify;
    padding: 0 1rem;
  }
  strong {
    font-weight: 600;
    color: #333;
  }
  span {
    font-style: italic;
  }
}