body, html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  & * {
    box-sizing: border-box
  }
}

body {
  background: url('./images/background.jpg') no-repeat fixed;
  background-size: cover;
  color: #212529;
  font-size: 16px;
}
