.blur {
  @include flex(column);
  align-items: center;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  top: 0;
  .lightbox {
    @include flex(column);
    @extend .box-shadow;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 900px;
  }
}