.login {
  max-width: 500px;
  position: absolute;
  top: calc(50% - #{$navigation-height});
  left: 50%;
  transform: translate(calc(-50% - #{$navigation-height}), -50%);
  input {
    outline: 0;
    border: none;
    padding: .5rem .45rem;
    font-family: "Barlow", sans-serif;
  }
}

#login__form {
  position: unset;
  margin-top: 20%;
  align-self: center;
  transform: none;
  input {
    max-width: 100%;
  }
  input[type=submit] {
    margin-top: 1rem;
    width: 100%;
    display: block;
  }
}