.navigation {
  @include flex(row);
  background-color: white;
  height: $navigation-height;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  &__item:not(.status) {
    border-right: 1px solid #dadada;
    & > .navigation__link::before {
      @include icon(25px, 25px);
      content: "";
      display: block;
    }
    &:nth-of-type(4) > .navigation__link::before {
      @extend .icon;
    }
  }
}

// The list item housing the link
.navigation__item {
  align-items: center;
  display: inline-flex;
  font-family: $theme-primary-font;
  position: relative;
  cursor: pointer;
}

// The Link itself
.navigation__link {
  &::before {
    margin: 0 4px 0 10px;
  }
  color: #212529;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  font-size: .9rem;
  height: 100px;
  width: 100%;
  text-align: center;
  &[name='home'] {
    padding: 0 14px;
    &::before {
      @extend .icon--home;
    }
  }
  &[name='invoices'] {
    min-width: 125px;
    &::before {
      @extend .icon--invoices;
    }
  }
  &[name='inventory'] {
    min-width: 130px;
    &::before {
      @extend .icon--plant;
    }
  }
}

.navigation__item *,
.navigation__item *::before {
  transition: all 0.5s ease;
}
.navigation__link:not([name="home"]):hover {
  color: white;
  border-color: $theme-green-dark;
  background-color: $theme-green-dark;
  &[name='invoices']::before {
    @extend .icon--invoices--hover;
  }
  &[name='inventory']::before {
    @extend .icon--plant--hover;
  }
}

.button--circular {
  background-color: $theme-grey;
  color: white;
  position: absolute;
  right: 5px;
  &:hover {
    background-color: $theme-background-green
  }
}

* {
  transition: all 0.25s ease;
}

#home_button:before {
  margin: 0;
}

.authenticated > .navigation__link::before,
.not_authenticated > .navigation__link::before {
  @extend .icon--logout;
  @include icon(25px, 25px);
  content: "";
  margin: 0 .5rem 0 1rem;
}

.authenticated {
  min-width: 120px;
}

.not_authenticated {
  min-width: 160px;
}

.navigation > .authenticated,
.navigation > .not_authenticated {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0;
  text-align: center;
  display: block;
  background: rgb(39, 39, 39);
  cursor: pointer;
  transition: all 0.1s ease-in;
  &:hover {
    background: $theme-green-dark;
  }
  .navigation__link {
    color: white;
    position: absolute;
    height: 100%;
    left: 0;
    margin: 0;
  }
}

// Mobile

@media screen and #{$mobile-portrait} {
  .navigation__item:not(.home) {
    &:not(.status) {
      display: none;
    }
    .navigation__link {
      font-size: .8rem;
      &::before {
        margin: .6rem;
      }
    }
    &.authenticated,
    &.not_authenticated {
      min-width: 100px;
    }
  }

  .navigation__item.status.not_authenticated {
    width: 140px;
  }
  .navigation__link[name='login'] {
    width: 200px;
  }
}