.options {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  margin-top: -25px;
  .icon {
    line-height: 25px;
    font-weight: bold;
  }
}

#filter.button {
  border-radius: 20px;
  margin: 1rem 6px 0;
  padding: 5px 10px 7px;
  display: inline-flex;
  align-items: center;
  height: 1rem;
  font-size: .8rem;
  @extend .noSelect;
  .icon {
    width: .8rem;
    margin-right: 4px;
    padding-top: 2px;
    box-sizing: border-box;
    path {
      fill: white;
    }
  }
}

.settings {
  padding: 5px;
  margin-left: .4rem;
  border-radius: 50%;
  box-sizing: border-box;
  transition: .1s all ease;
  &:hover {
    background-color: $theme-background-green;
    cursor: pointer;
  }
  &_options {
    transition: 2s ease;
    display: none;
    box-sizing: border-box;
    position: relative;
    cursor: default;
    justify-content: center;
    flex: 0 0 100%;
    align-items: center;
    div {
      width: 50%;
      float: left;
    }
    &:not(th) {
      background-color: $theme-grey;
      border-color: $theme-grey !important;
      flex-direction: row;
      justify-content: center;
    }
    .icon--xs,
    .icon--s {
      path {
        fill: white;
      }
      &.edit {
        &:hover {
          path {
            fill: $theme-green;
          }
        }
      }
      &.delete {
        &:hover {
          path {
            fill: $theme-red;
          }
        }
      }
    }
    &:not(th) .icon--s {
      height: 1rem;
      cursor: pointer;
    }
  }

}