// Table

table:not(.ui-datepicker-calendar) {
  @extend .table;
  margin-bottom: 40px;
  thead {
    @extend .table__header;
    th {
      @extend .table__header__text;
    }
    tr {
      @extend .table__header__text;
    }
  }
  tbody tr {
    @extend .table__row;
  }
  tbody td {
    @extend .table__cell;
  }
}

.table__cell {
  border: 1px solid #e9ecef;
  font-size: 13px;
  letter-spacing: .03rem;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 1rem 1rem;
}

/* Desktop View - DEFAULT */
//
.invoices_index > table {
  margin-bottom: 40px;
}

.table {
  display: table;
  width: 100%;
  background-color: #4c4c4c;
  font-family: $theme-primary-font;
  &__container {
    height: auto;
    flex: 1 100%;
    overflow-y: auto;
    width: 100%;
    background-color: #636363;
  }
  &__row {
    background-color: #efefef;
    box-sizing: border-box;
    cursor: pointer;
    &:nth-of-type(odd) {
      background-color: #e6e6e6;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.95);
      .table__cell {
        border-right-color: #f3f3f3;
      }
    }
  }
}

.table__header {
  background: #272727;
  &__text {
    font-family: $theme-secondary-font;
    padding: 1rem;
    font-size: .75rem;
    color: white;
    text-align: left;
    border-right: 1px solid #4a4a4a;
    &:first-of-type {
      padding-left: 4.5rem;
    }
    a {
      color: white;
      &:hover {
        cursor: pointer;
        color: $theme-green;
      }
    }
  }
}

.table__cell--with-image {
  @extend .table__cell;
  overflow: hidden;
  padding: 0 !important;
  height: 100%;
  img {
    height: auto;
    width: 100%;
    font-size: 0;
    display: block;
    float: left;
    max-width: 140px;
  }
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  /* Force table to not be like tables anymore */
  .table__cell--with-image {
    max-height: 150px;
    overflow: hidden;
    .thumbnail {
      width: 100%;
      max-width: unset;
      margin-top: -30px;
    }
  }
  table:not(.ui-datepicker-calendar) {
    thead, tbody, th, td:not(.settings__options), tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }
  }
  .settings__options {
    display: flex;
    justify-content: flex-end;
    padding: .5rem !important;
  }
  .table__cell:first-of-type {
    padding-left: auto;
  }
  .table__row td,
  .table__header__text {
    font-size: .65rem !important;
  }
  .invoices_index table {
    margin-bottom: 40px;
    min-height: 200px;
    .table__row td:not(.clear) {
      &:not(.settings__options) {
        padding: .5rem .5rem .5rem 50%;
      }
    }
    td:not(.clear) {
      &:not(.settings__options) {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
    /*
	Label the data
	*/
    td:not(.clear) {
      &:nth-of-type(1):before {
        content: "Invoice Number:";
      }
      &:nth-of-type(2):before {
        content: "Supplier:";
      }
      &:nth-of-type(3):before {
        content: "Category:";
      }
      &:nth-of-type(4):before {
        content: "Date:";
      }
      &:nth-of-type(5):before {
        content: "Total:";
      }
    }
  }
}

.table__cell > a {
  color: $theme-green;
  &:hover {
    color: $theme-green-dark;
  }
}

td.settings__options {
  height: 100%;
}