.heading {
  font-family: "Exo 2", sans-serif;
  font-size: 2.5rem;
  color: white;
  padding-bottom: .25rem;
  span {
    color: white;
  }
}

.text {
  font-family: $theme-primary-font;
  &--bold {
    font-weight: bold;
  }
  &--error, &--success {
    @extend .text;
    color: white;
    padding: .75rem .25rem;
    text-align: center;
    width: 100%;
  }
  &--error {
    background-color: $theme-red;
  }
  &--success {
    background-color: $theme-green;
  }
}