// Theme Colours
$theme-grey                   :     #272727;
$theme-red                    :     #e56b68; // <=== There is an instance of this in invoices_index.js
$theme-green                  :     #77AC48;
$theme-green-dark             :     #6c9348;
// Background
$theme-background-green       :     $theme-green-dark;
$theme-background-grey        :     $theme-grey;
// Fonts
$theme-primary-font           :     'Barlow', sans-serif;
$theme-secondary-font         :     'Exo 2', sans-serif;
// Buttons
$circular--button--small      :      20px;
$circular--icon               :      25px;
$circular--button--large      :      27px;
// Sizing
$navigation-height            :      40px;
// Icons
$icon-path-home               :      './images/icons/home.png';
$icon-path-invoices           :      './images/icons/invoices.png';
$icon-path-products           :      './images/icons/products.png';
$icon-path-inventory_items    :      './images/icons/inventory.png';
$icon-path-sales              :      './images/icons/sales.png';
$upload-icon-size             :       20px;
// Lightbox
$lightbox-shadow              :      5px 5px 5px 0px rgba(0,0,0,0.31);

// Media query variables
//
// Mobile portrait
$mobile-portrait              :     '(max-width: 420px)';
$mobile-portrait-width        :     $mobile-portrait;
$mobile-portrait-height       :     '(max-height: 825px)';
// Mobile Landscape
$mobile-landscape-width       :   '(max-width: 825px)';
$mobile-landscape-height      :   '(max-height: 420px)';
$tablet                       :   '(max-width: 768px)';
// Desktop
$desktop-height               :   '(max-height: 950px)';
$desktop-width                :   '(max-width: 1200px)';
