.invoice_total__container {
  background-color: $theme-green;
  color: white;
  padding: 1rem;
  max-width: 200px;
  position:absolute;
  right: 0;
  width: 100%;
  top: 2rem;
  font-family: $theme-primary-font;
  font-size: 1.75rem;
  span { /* 'Total' string */
    font-size: 1rem;
    font-family: $theme-secondary-font;
    display: block;
    width: 100%;
    margin-bottom: .25rem;
  }
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  .invoice_total__container {
    padding: .5rem;
    max-width: 100px;
    font-size: 1rem;
    span {
      font-size: .8rem;
    }
  }
}