// App component
//
// #app > section references the main content of the website.
// <router-view> always renders content in a parent <section> element
#app {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 700px;
  @include flex(column);
  height: 100%;
  overflow-y: auto;
  min-height: 700px;
}

#app > section {
  @include flex(column);
  position: absolute;
  top: $navigation-height;
  max-width: 1080px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  &.invoices_index, &.inventory_index {
    background-color: #4c4c4c;
  }
  & > header {
    @extend .section__header;
  }
  & > footer {
    @extend .section__footer;
  }
}

@media #{$mobile-landscape-height} and #{$mobile-landscape-width} {
  #app {
    min-height: 0 !important;
  }
}