// This is the back button at the top of the screen to entice users to use that opposed to the browser back key (thus ruining the SPA)
//
.back__button {
  @include flex(row);
  height: $navigation-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: $navigation-height;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
  padding: .5rem .75rem;
  background-color: $theme-green-dark;
  color: white;
  transition: all ease-in-out .2s;
  opacity: 0.95;
  &:before {
    @extend .icon;
    height: 20px;
    width: 20px;
    display: inline-block;
    content: "";
    background: url('./images/icons/left-arrow-hover.png') no-repeat;
    background-size: cover;
    margin: auto .5rem auto auto;
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 1;
    background-color: $theme-green;
  }
}
@media #{$mobile-portrait-width} and #{$mobile-portrait-height} {
  .back__button {
    font-size: .8rem;
  }
}