#app #confirmation {
  display:flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100%;
  background-color: rgba(229, 107, 104, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  p { // <== The Invoice Number
    position: absolute;
    top: 40%;
    bottom: auto;
    left: 0;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    &::before {
      @extend .text;
      display: block;
      content: 'Are you sure you want to delete?';
      width: 100%;
      color: white;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  button {
    @extend .button;
    background-color: white;
    color: $theme-grey;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    &:hover {
      background-color: $theme-grey;
      color: white;
    }
  }
}