.dropbox {
  outline: 2px dashed white;
  outline-offset: -10px;
  background: $theme-green;
  opacity: .5;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  position: relative;
  cursor: pointer;
  width: 100%;
  &::before {
    content: '';
    display: block;
    margin-right: .75rem;
    width: $upload-icon-size;
    height: $upload-icon-size;
    background: url('../images/icons/upload.png') no-repeat;
    background-size: contain;
  }
  &:hover {
    opacity: 1;
  }
  p {
    font-family: "Barlow", sans-serif;
    text-align: center;
    color: white;
  }
  & > .file__input {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }
}

#inventory_item fieldset .thumbnail {
  max-width: 200px;
  float: right;
}

.thumbnail--small {
  max-width: 100px;
}

.upload--success {
  @extend .text;
  color: white;
  background-color: $theme-green;
  padding: .4rem;
  text-align:center;
}
.image__upload {
  display: flex;
  align-items: center;
  input {
    max-width: 120px;
    cursor: pointer;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &:hover {
      opacity: 1;
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    @extend .button;
    background-color: $theme-grey;
  }
  span {
    color: $theme-green;
  }
}