// Form for Invoice
//
// This is used when editing or creating an invoice

#invoice .add_fields__form td {
  position: relative;
}

#invoice form input + .error {
  color: white;
  background-color: $theme-red;
  padding: .5rem;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.add_fields__form {
  padding: 0;
  button:not(.add_fields__button) {
    @extend .icon--delete;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    padding: .5rem;
    width: 2.5rem;
    height: 1.5rem;
    opacity: 0.8;
    transition: all ease-in-out .125s;
    &:hover {
      opacity: 1;
    }
  }
}