// Invoice
// Make sure to add a Javascript function to add the overlay
#invoice, #inventory_item {
  @extend .lightbox; // <==== Not a fan of this
  background-color: #3e3e3e;
  justify-content: flex-start !important; // <==== Make sure to remove (!important) from layouts.scss
  & > footer {
    & > button {
      font-size: .8rem;
      &:focus {
        outline: 0;
      }
      &:before {
        @include icon(21.59px, 21.59px);
        @extend .icon--edit;
        content: '';
        border-radius: 50%;
        margin-right: .25rem;
      }
    }
  }
}

/* Invoice Total */
form > p {
  @extend .invoice_total__container;
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {

  #invoice table {
    margin-bottom: 40px;
    min-height: 200px;
    .table__row td:not(.clear) {
      &:not(.settings__options) {
        padding: .5rem .5rem .5rem 50%;
      }
    }
    td:not(.clear) {
      &:not(.settings__options) {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
    /*
    Label the data
    */
    td:not(.clear) {
      &:nth-of-type(1):before {
        content: "Description:";
      }
      &:nth-of-type(2):before {
        content: "Category:";
      }
      &:nth-of-type(3):before {
        content: "Quantity:";
      }
      &:nth-of-type(4):before {
        content: "Unit Price:";
      }
      &:nth-of-type(5):before {
        content: "Total:";
      }
    }
  }
}