#inventory_item img {
  max-width: 300px;
  float: right;
}

#edit_inventory_form {
  flex-flow: row wrap;
  justify-content: space-between;
  div {
    flex: 1 50%;
  }
  input[type=submit] {
    flex: 1 100%;
  }
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  #edit_inventory_form {
    margin-bottom: 40px;
  }
  .inventory_index table {
    margin-bottom: 40px;
    min-height: 200px;
    .table__row td:not(.clear) {
      &:not(.settings__options) {
        padding: .5rem .5rem .5rem 50%;
      }
    }
    td:not(.clear) {
      &:not(.settings__options) {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
    /*
    Label the data
    */
    td:not(.clear) {
      &:nth-of-type(1):before {
        //content: "Description:";
      }
      &:nth-of-type(2):before {
        content: "Description:";
      }
      &:nth-of-type(3):before {
        content: "Quantity:";
      }
    }
  }
}