// invoices index

#invoices_index {
  col:nth-of-type(1) {
    width: 4%;
  }
  col:nth-of-type(2) {
    width: 16%;
  }
  col:nth-of-type(3) {
    width: 20%;
  }
  col:nth-of-type(4) {
    width: 20%;
  }
  col:nth-of-type(5) {
    width: 10%;
  }
  table {
    min-height: 800px;
    display: block;
  }
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  .invoices_index,
  .inventory_index {
    min-height: calc(100vh - 40px) !important;
  }
}

@media #{$mobile-landscape-height} and #{$mobile-landscape-width} {
  .invoices_index,
  .inventory_index {
    min-height: calc(100vh - 40px) !important;
  }
}
