// The two settings buttons on the invoice index component
//
$settings__control__button-dimensions: 1.375rem;

.settings__control {
  @include flex(row);
  position: absolute;
  justify-content: space-between;
  right: 1rem;
  & button {
    cursor: pointer;
  }
  & > button {
    width: $settings__control__button-dimensions;
    height: $settings__control__button-dimensions;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    transition: background-color ease-in-out 0.125s;
    margin: 0 4px;
    &[name="settings"] {
      padding: 3px;
    }
    &[name="new"] {
      font-weight: bold;
      padding: 0;
      font-family: "exo 2", sans-serif;
      font-size: 1.4rem;
      line-height: 1.375rem;
    }
  }
  & > button:hover {
    color: white;
    background-color: $theme-green-dark;
    svg path {
      fill: white;
    }
  }
  & > div > button:hover {
    transform: scale(1.1);
  }
}

.settings__options {
  text-align: center !important;
  background-color: $theme-grey;
  min-width: 100px;
  border-color: $theme-grey !important;
  & > button {
    @extend .icon;
    padding: 0;
    width: $settings__control__button-dimensions;
    height: $settings__control__button-dimensions;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    &[name='edit'] {
      background: url('./images/icons/edit.svg') no-repeat;
      background-size: cover;
      &:hover {
        background: white url('./images/icons/edit-hover.svg') no-repeat;
        background-size: cover;
      }
      svg { // Edit SVG
        width: 100%;
      }
    }
    &[name='delete'] {
      background-color: white;
      margin-left: .2rem;
      padding: 3px;
      &:hover {
        background-color: $theme-red;
        svg path {
          fill: white;
        }
      }
      svg path {
        fill: $theme-grey;
      }
    }
  }
}

// Settings Control

.settings__control > .results_per_page {
  display: inline-block;
  margin-right: 2rem;
  &::before {
    content: 'Results per page:';
    margin-right: .5rem;
    float: left;
    font-size: .8rem;
  }
  &::before,
  button,
  button::after {
    font-family: 'exo 2', sans-serif;
    font-weight: lighter;
    color: white;
  }
  button {
    padding: 0;
    float: left;
    font-size: 1.25rem;
    &:not(.active) {
      font-size: .75rem;
    }
  }
  button::after {
    content: '|';
    padding: .2rem;
    color: $theme-green;
  }
}

@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  .settings__control > .results_per_page::before {
    font-size: .6rem;
  }
  .settings__control button {
    font-size: 1rem;
    &:not(.active) {
    //
    }
  }
}