#notice {
  width: 100%;
  height: $navigation-height;
  position: fixed;
  top: $navigation-height;
  color: white;
  font-family: "Barlow", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .6s;
  z-index: 9999;
  &.success {
    background-color: rgba(120, 171, 78, 0.95);
  }
  &.error {
    background-color: rgba(229, 107, 104, 0.95);
  }
}

.notice {
  display: inline-block;
  color: $theme-red;
  font-family: 'Barlow', sans-serif;
  font-size: 1.15rem;
}
