/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }
  html *, body *, div *, span *, applet *, object *, iframe *,
  h1 *, h2 *, h3 *, h4 *, h5 *, h6 *, p *, blockquote *, pre *,
  a *, abbr *, acronym *, address *, big *, cite *, code *,
  del *, dfn *, em *, img *, ins *, kbd *, q *, s *, samp *,
  small *, strike *, strong *, sub *, sup *, tt *, var *,
  b *, u *, i *, center *,
  dl *, dt *, dd *, ol *, ul *, li *,
  fieldset *, form *, label *, legend *,
  table *, caption *, tbody *, tfoot *, thead *, tr *, th *, td *,
  article *, aside *, canvas *, details *, embed *,
  figure *, figcaption *, footer *, header *, hgroup *,
  menu *, nav *, output *, ruby *, section *, summary *,
  time *, mark *, audio *, video * {
    box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover, a:focus {
  color: inherit; }

.ui.container {
  margin: 0 !important; }

button {
  background-color: transparent;
  border: 0; }
  button:focus {
    outline: 0; }

.box-shadow, .card, .blur .lightbox, .blur #invoice, .blur #inventory_item, #loading {
  -webkit-box-shadow: 3px 1px 14px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.15); }
  .box-shadow span > label, .card span > label, .blur .lightbox span > label, .blur #invoice span > label, .blur #inventory_item span > label, #loading span > label {
    margin: 0; }

button,
a {
  cursor: pointer; }

.button, .add_fields__button + button, form input[type=submit], #app #confirmation button, .image__upload label, .add_fields__button, .dashboard button {
  display: inline-block;
  padding: 7px 10px;
  margin: 8px 0 5px;
  background-color: #444;
  font-size: 1rem;
  color: white;
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
  border: 0;
  transition: background-color 0.2s ease; }
  .button:hover, .add_fields__button + button:hover, form input[type=submit]:hover, #app #confirmation button:hover, .image__upload label:hover, .add_fields__button:hover, .dashboard button:hover {
    background-color: #6c9348; }
  .button--circular, .button--circular--large, .card__button {
    background-color: white;
    box-sizing: border-box;
    color: #272727;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    flex-shrink: 0;
    line-height: 18px;
    cursor: pointer;
    border: 0;
    transition: background-color 0.2s ease; }
    .button--circular:hover, .button--circular--large:hover, .card__button:hover {
      background-color: #6c9348;
      color: white; }
    .button--circular.inverse, .inverse.button--circular--large, .inverse.card__button, .card .button--circular, .card .button--circular--large, .card .card__button {
      color: #272727;
      background-color: white; }
      .button--circular.inverse:hover, .inverse.button--circular--large:hover, .inverse.card__button:hover, .card .button--circular:hover, .card .button--circular--large:hover, .card .card__button:hover {
        color: white;
        background-color: #6c9348; }
  .button--circular--large {
    width: 27px;
    height: 27px;
    line-height: calc(27px - (27px / 10));
    padding-top: 1px; }

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 296px;
  align-items: center;
  margin: 0 .75rem;
  cursor: pointer; }
  .card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .card__image {
    margin: 2rem 0;
    max-width: 60px; }
  .card__link {
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
    color: white;
    background-color: #272727;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: all 0.09s ease-in; }
    .card__link__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative; }
    .card__link:hover {
      background-color: #6c9348;
      color: white; }
      .card__link:hover + .card__button {
        color: #6c9348; }

.card .button--circular, .card .button--circular--large, .card .card__button {
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  color: #272727; }

@media screen and (max-width: 420px) {
  #home {
    justify-content: space-evenly;
    margin-top: 20px; }

  .card {
    display: flex;
    flex-direction: row;
    margin: 0; }
    .card__image {
      margin: 1rem;
      width: 40px; }
    .card__button {
      bottom: 0;
      right: 0;
      height: 100%;
      border-radius: 0;
      width: 45px;
      line-height: 45px;
      background-color: #6c9348;
      color: white; }
    .card__container {
      display: flex;
      flex-direction: column;
      width: 100%; }
    .card__link {
      font-size: .9rem;
      height: 100%;
      padding-right: 80px; }
    .card__link__container {
      height: 45px; } }
@media (max-height: 420px) and (max-width: 825px) {
  .card {
    margin: 5px;
    min-width: 250px; }
    .card__container {
      width: 100%;
      justify-content: space-evenly; }
    .card__image {
      margin: .5rem;
      width: 40px; }
    .card__button {
      bottom: 0;
      right: 0;
      height: 100%;
      border-radius: 0;
      width: 45px;
      line-height: 45px;
      background-color: #6c9348;
      color: white; }
    .card__link {
      font-size: .9rem;
      padding-right: 50px; } }
.filter__options {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  color: #77AC48;
  box-sizing: border-box;
  background-color: white; }
  .filter__options__group {
    padding: .5rem 2rem; }
    .filter__options__group h2 {
      font-weight: bold;
      margin-bottom: 7px;
      font-size: .75rem; }
  .filter__options__item {
    list-style: disc;
    text-indent: .25rem;
    margin: 3px 0;
    font-size: .6rem;
    list-style-position: inside; }
  .filter__options__link {
    font-size: .8rem;
    color: #272727;
    transition: all .06s ease; }
    .filter__options__link:hover {
      color: #77AC48; }

section > form {
  display: flex;
  flex-direction: column;
  background: #272727;
  width: 100%;
  padding: 2rem; }
  section > form:first-of-type {
    padding-top: 40px; }
  section > form select {
    display: none; }
  section > form fieldset {
    margin: .375rem 0; }
    section > form fieldset > span {
      background-color: white;
      color: black; }
    section > form fieldset > legend {
      color: #77AC48;
      font-family: "Exo 2", sans-serif;
      margin-bottom: 6px; }
    section > form fieldset > h1 {
      color: white;
      text-decoration: underline;
      text-decoration-color: #6c9348;
      margin: 0; }
    section > form fieldset > p {
      font-family: "Barlow", sans-serif;
      color: white; }
    section > form fieldset > input {
      font-family: "Barlow", sans-serif;
      padding: .7rem;
      height: 40px;
      width: 100%;
      max-width: 400px;
      font-size: .9rem; }

/* Submit Button  */
form input[type=submit] {
  max-width: 200px; }

@media (max-height: 825px) and (max-width: 420px) {
  section > form {
    padding: 1rem; }
    section > form input[type=submit] {
      align-self: flex-end; }
    section > form h1 {
      font-size: 2rem !important; }
    section > form fieldset > legend {
      font-size: .8rem; } }
.grid, .inventory__information {
  display: grid;
  grid-row: 1;
  /* define the number of grid columns */
  grid-template-columns: repeat(2, minmax(250px, 1fr)); }

@media (max-height: 825px) and (max-width: 420px) {
  .grid, .inventory__information {
    grid-template-columns: unset; }

  .column {
    width: 100%; } }
.nav .icon, .nav .icon *, .icon .nav *, .nav .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .nav .back__button:before, .nav .settings__options > button {
  content: '';
  display: inline-flex;
  align-self: center;
  vertical-align: middle;
  margin-right: 7px; }

.icon, .icon *, .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .back__button:before, .settings__options > button {
  cursor: pointer;
  transition: all 0.2s ease; }
  .icon--home, .navigation__link[name='home']::before {
    background: url("./images/icons/home.png") no-repeat;
    background-size: contain; }
    @media (max-height: 825px) and (max-width: 420px) {
      .icon--home, .navigation__link[name='home']::before {
        background: url("./images/icons/menu.png") no-repeat;
        background-size: contain; } }
  .icon--logout, .authenticated > .navigation__link::before,
  .not_authenticated > .navigation__link::before {
    background: url("./images/icons/logout.png") no-repeat;
    background-size: contain; }
  .icon--plant, .navigation__link[name='inventory']::before {
    background: url("./images/icons/inventory.png") no-repeat;
    background-size: contain; }
    .icon--plant--hover, .navigation__link[name='inventory']:not([name="home"]):hover::before {
      background: url("./images/icons/inventory-hover.png") no-repeat;
      background-size: contain; }
  .icon--invoices, .navigation__link[name='invoices']::before {
    background: url("./images/icons/invoices.png") no-repeat;
    background-size: contain; }
    .icon--invoices--hover, .navigation__link[name='invoices']:not([name="home"]):hover::before {
      background: url("./images/icons/invoices-hover.png") no-repeat;
      background-size: contain; }
  .icon--down_arrows, .custom_select > span,
  .ui-selectmenu-icon {
    background: url("./images/icons/down-arrow.png") no-repeat;
    background-size: contain; }
  .icon--delete, .add_fields__form button:not(.add_fields__button) {
    background: url("./images/icons/delete.png") no-repeat;
    background-size: contain; }
  .icon--next, .section__footer button.next::after, #app > section > footer button.next::after {
    background: url("./images/icons/next.svg") no-repeat;
    background-size: contain; }
    .icon--next:hover, .section__footer button.next:hover::after, #app > section > footer button.next:hover::after {
      background: url("./images/icons/next-hover.svg") no-repeat;
      background-size: contain; }
  .icon--previous, .section__footer button.prev::before, #app > section > footer button.prev::before {
    background: url("./images/icons/previous.svg") no-repeat;
    background-size: contain; }
    .icon--previous:hover, .section__footer button.prev:hover::before, #app > section > footer button.prev:hover::before {
      background: url("./images/icons/previous-hover.svg") no-repeat;
      background-size: contain; }
  .icon--edit, #invoice > footer > button:before, #inventory_item > footer > button:before {
    background: url("./images/icons/edit.svg") no-repeat;
    background-size: contain; }
    .icon--edit:hover, #invoice > footer > button:hover:before, #inventory_item > footer > button:hover:before {
      background: url("./images/icons/edit-hover.svg") no-repeat;
      background-size: contain;
      background-color: white; }
  .icon--settings:hover path {
    fill: white; }

.settings {
  padding: 3px; }

.table__cell.settings_options, table:not(.ui-datepicker-calendar) tbody td.settings_options, .settings_options.table__cell--with-image {
  text-align: center; }
  .table__cell.settings_options .icon, table:not(.ui-datepicker-calendar) tbody td.settings_options .icon, .settings_options.table__cell--with-image .icon, .table__cell.settings_options .icon *, .icon .table__cell.settings_options *, table:not(.ui-datepicker-calendar) tbody td.settings_options .icon *, .icon table:not(.ui-datepicker-calendar) tbody td.settings_options *, .settings_options.table__cell--with-image .icon *, .icon .settings_options.table__cell--with-image *, .table__cell.settings_options .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, table:not(.ui-datepicker-calendar) tbody td.settings_options .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .settings_options.table__cell--with-image .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .table__cell.settings_options .back__button:before, table:not(.ui-datepicker-calendar) tbody td.settings_options .back__button:before, .settings_options.table__cell--with-image .back__button:before, .table__cell.settings_options .settings__options > button, table:not(.ui-datepicker-calendar) tbody td.settings_options .settings__options > button, .settings_options.table__cell--with-image .settings__options > button {
    width: 20px;
    height: 20px; }

body, html {
  height: 100%;
  margin: 0;
  min-height: 100%; }
  body *, html * {
    box-sizing: border-box; }

body {
  background: url("./images/background.jpg") no-repeat fixed;
  background-size: cover;
  color: #212529;
  font-size: 16px; }

.navigation {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9; }
  .navigation__item:not(.status) {
    border-right: 1px solid #dadada; }
    .navigation__item:not(.status) > .navigation__link::before {
      height: 25px;
      width: 25px;
      content: "";
      display: block; }

.navigation__item {
  align-items: center;
  display: inline-flex;
  font-family: "Barlow", sans-serif;
  position: relative;
  cursor: pointer; }

.navigation__link {
  color: #212529;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  font-size: .9rem;
  height: 100px;
  width: 100%;
  text-align: center; }
  .navigation__link::before {
    margin: 0 4px 0 10px; }
  .navigation__link[name='home'] {
    padding: 0 14px; }
  .navigation__link[name='invoices'] {
    min-width: 125px; }
  .navigation__link[name='inventory'] {
    min-width: 130px; }

.navigation__item *,
.navigation__item *::before {
  transition: all 0.5s ease; }

.navigation__link:not([name="home"]):hover {
  color: white;
  border-color: #6c9348;
  background-color: #6c9348; }

.button--circular, .button--circular--large, .card__button {
  background-color: #272727;
  color: white;
  position: absolute;
  right: 5px; }
  .button--circular:hover, .button--circular--large:hover, .card__button:hover {
    background-color: #6c9348; }

* {
  transition: all 0.25s ease; }

#home_button:before {
  margin: 0; }

.authenticated > .navigation__link::before,
.not_authenticated > .navigation__link::before {
  height: 25px;
  width: 25px;
  content: "";
  margin: 0 .5rem 0 1rem; }

.authenticated {
  min-width: 120px; }

.not_authenticated {
  min-width: 160px; }

.navigation > .authenticated,
.navigation > .not_authenticated {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0;
  text-align: center;
  display: block;
  background: #272727;
  cursor: pointer;
  transition: all 0.1s ease-in; }
  .navigation > .authenticated:hover,
  .navigation > .not_authenticated:hover {
    background: #6c9348; }
  .navigation > .authenticated .navigation__link,
  .navigation > .not_authenticated .navigation__link {
    color: white;
    position: absolute;
    height: 100%;
    left: 0;
    margin: 0; }

@media screen and (max-width: 420px) {
  .navigation__item:not(.home):not(.status) {
    display: none; }
  .navigation__item:not(.home) .navigation__link {
    font-size: .8rem; }
    .navigation__item:not(.home) .navigation__link::before {
      margin: .6rem; }
  .navigation__item:not(.home).authenticated, .navigation__item:not(.home).not_authenticated {
    min-width: 100px; }

  .navigation__item.status.not_authenticated {
    width: 140px; }

  .navigation__link[name='login'] {
    width: 200px; } }
.noSelect, #filter.button, .add_fields__button + button#filter, form input#filter[type=submit], #app #confirmation button#filter, .image__upload label#filter, #filter.add_fields__button, .dashboard button#filter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.options {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  margin-top: -25px; }
  .options .icon, .options .icon *, .icon .options *, .options .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .options .back__button:before, .options .settings__options > button {
    line-height: 25px;
    font-weight: bold; }

#filter.button, .add_fields__button + button#filter, form input#filter[type=submit], #app #confirmation button#filter, .image__upload label#filter, #filter.add_fields__button, .dashboard button#filter {
  border-radius: 20px;
  margin: 1rem 6px 0;
  padding: 5px 10px 7px;
  display: inline-flex;
  align-items: center;
  height: 1rem;
  font-size: .8rem; }
  #filter.button .icon, .add_fields__button + button#filter .icon, form input#filter[type=submit] .icon, #app #confirmation button#filter .icon, .image__upload label#filter .icon, #filter.add_fields__button .icon, .dashboard button#filter .icon, #filter.button .icon *, .icon #filter.button *, .add_fields__button + button#filter .icon *, .icon .add_fields__button + button#filter *, form input#filter[type=submit] .icon *, .icon form input#filter[type=submit] *, #app #confirmation button#filter .icon *, .icon #app #confirmation button#filter *, .image__upload label#filter .icon *, .icon .image__upload label#filter *, #filter.add_fields__button .icon *, .icon #filter.add_fields__button *, .dashboard button#filter .icon *, .icon .dashboard button#filter *, #filter.button .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .add_fields__button + button#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, form input#filter[type=submit] .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, #app #confirmation button#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .image__upload label#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, #filter.add_fields__button .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, .dashboard button#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before, #filter.button .back__button:before, .add_fields__button + button#filter .back__button:before, form input#filter[type=submit] .back__button:before, #app #confirmation button#filter .back__button:before, .image__upload label#filter .back__button:before, #filter.add_fields__button .back__button:before, .dashboard button#filter .back__button:before, #filter.button .settings__options > button, .add_fields__button + button#filter .settings__options > button, form input#filter[type=submit] .settings__options > button, #app #confirmation button#filter .settings__options > button, .image__upload label#filter .settings__options > button, #filter.add_fields__button .settings__options > button, .dashboard button#filter .settings__options > button {
    width: .8rem;
    margin-right: 4px;
    padding-top: 2px;
    box-sizing: border-box; }
    #filter.button .icon path, .add_fields__button + button#filter .icon path, form input#filter[type=submit] .icon path, #app #confirmation button#filter .icon path, .image__upload label#filter .icon path, #filter.add_fields__button .icon path, .dashboard button#filter .icon path, .icon #filter.button * path, .icon .add_fields__button + button#filter * path, .icon form input#filter[type=submit] * path, .icon #app #confirmation button#filter * path, .icon .image__upload label#filter * path, .icon #filter.add_fields__button * path, .icon .dashboard button#filter * path, #filter.button .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before path, .add_fields__button + button#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before path, form input#filter[type=submit] .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before path, #app #confirmation button#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before path, .image__upload label#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before path, #filter.add_fields__button .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before path, .dashboard button#filter .navigation__item:not(.status):nth-of-type(4) > .navigation__link::before path, #filter.button .back__button:before path, .add_fields__button + button#filter .back__button:before path, form input#filter[type=submit] .back__button:before path, #app #confirmation button#filter .back__button:before path, .image__upload label#filter .back__button:before path, #filter.add_fields__button .back__button:before path, .dashboard button#filter .back__button:before path, #filter.button .settings__options > button path, .add_fields__button + button#filter .settings__options > button path, form input#filter[type=submit] .settings__options > button path, #app #confirmation button#filter .settings__options > button path, .image__upload label#filter .settings__options > button path, #filter.add_fields__button .settings__options > button path, .dashboard button#filter .settings__options > button path {
      fill: white; }

.settings {
  padding: 5px;
  margin-left: .4rem;
  border-radius: 50%;
  box-sizing: border-box;
  transition: .1s all ease; }
  .settings:hover {
    background-color: #6c9348;
    cursor: pointer; }
  .settings_options {
    transition: 2s ease;
    display: none;
    box-sizing: border-box;
    position: relative;
    cursor: default;
    justify-content: center;
    flex: 0 0 100%;
    align-items: center; }
    .settings_options div {
      width: 50%;
      float: left; }
    .settings_options:not(th) {
      background-color: #272727;
      border-color: #272727 !important;
      flex-direction: row;
      justify-content: center; }
    .settings_options .icon--xs path,
    .settings_options .icon--s path {
      fill: white; }
    .settings_options .icon--xs.edit:hover path,
    .settings_options .icon--s.edit:hover path {
      fill: #77AC48; }
    .settings_options .icon--xs.delete:hover path,
    .settings_options .icon--s.delete:hover path {
      fill: #e56b68; }
    .settings_options:not(th) .icon--s {
      height: 1rem;
      cursor: pointer; }

table:not(.ui-datepicker-calendar) {
  margin-bottom: 40px; }

.table__cell, table:not(.ui-datepicker-calendar) tbody td, .table__cell--with-image {
  border: 1px solid #e9ecef;
  font-size: 13px;
  letter-spacing: .03rem;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 1rem 1rem; }

/* Desktop View - DEFAULT */
.invoices_index > table {
  margin-bottom: 40px; }

.table, table:not(.ui-datepicker-calendar) {
  display: table;
  width: 100%;
  background-color: #4c4c4c;
  font-family: "Barlow", sans-serif; }
  .table__container {
    height: auto;
    flex: 1 100%;
    overflow-y: auto;
    width: 100%;
    background-color: #636363; }
  .table__row, table:not(.ui-datepicker-calendar) tbody tr {
    background-color: #efefef;
    box-sizing: border-box;
    cursor: pointer; }
    .table__row:nth-of-type(odd), table:not(.ui-datepicker-calendar) tbody tr:nth-of-type(odd) {
      background-color: #e6e6e6; }
    .table__row:hover, table:not(.ui-datepicker-calendar) tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.95); }
      .table__row:hover .table__cell, table:not(.ui-datepicker-calendar) tbody tr:hover .table__cell, .table__row:hover table:not(.ui-datepicker-calendar) tbody td, table:not(.ui-datepicker-calendar) tbody .table__row:hover td, table:not(.ui-datepicker-calendar) tbody tr:hover td, .table__row:hover .table__cell--with-image, table:not(.ui-datepicker-calendar) tbody tr:hover .table__cell--with-image {
        border-right-color: #f3f3f3; }

.table__header, table:not(.ui-datepicker-calendar) thead {
  background: #272727; }
  .table__header__text, table:not(.ui-datepicker-calendar) thead th, table:not(.ui-datepicker-calendar) thead tr {
    font-family: "Exo 2", sans-serif;
    padding: 1rem;
    font-size: .75rem;
    color: white;
    text-align: left;
    border-right: 1px solid #4a4a4a; }
    .table__header__text:first-of-type, table:not(.ui-datepicker-calendar) thead th:first-of-type, table:not(.ui-datepicker-calendar) thead tr:first-of-type {
      padding-left: 4.5rem; }
    .table__header__text a, table:not(.ui-datepicker-calendar) thead th a, table:not(.ui-datepicker-calendar) thead tr a {
      color: white; }
      .table__header__text a:hover, table:not(.ui-datepicker-calendar) thead th a:hover, table:not(.ui-datepicker-calendar) thead tr a:hover {
        cursor: pointer;
        color: #77AC48; }

.table__cell--with-image {
  overflow: hidden;
  padding: 0 !important;
  height: 100%; }
  .table__cell--with-image img {
    height: auto;
    width: 100%;
    font-size: 0;
    display: block;
    float: left;
    max-width: 140px; }

@media (max-height: 825px) and (max-width: 420px) {
  /* Force table to not be like tables anymore */
  .table__cell--with-image {
    max-height: 150px;
    overflow: hidden; }
    .table__cell--with-image .thumbnail {
      width: 100%;
      max-width: unset;
      margin-top: -30px; }

  table:not(.ui-datepicker-calendar) {
    /* Hide table headers (but not display: none;, for accessibility) */ }
    table:not(.ui-datepicker-calendar) thead, table:not(.ui-datepicker-calendar) tbody, table:not(.ui-datepicker-calendar) th, table:not(.ui-datepicker-calendar) td:not(.settings__options), table:not(.ui-datepicker-calendar) tr {
      display: block; }
    table:not(.ui-datepicker-calendar) thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    table:not(.ui-datepicker-calendar) tr {
      border: 1px solid #ccc; }

  .settings__options {
    display: flex;
    justify-content: flex-end;
    padding: .5rem !important; }

  .table__cell:first-of-type, table:not(.ui-datepicker-calendar) tbody td:first-of-type, .table__cell--with-image:first-of-type {
    padding-left: auto; }

  .table__row td, table:not(.ui-datepicker-calendar) tbody tr td,
  .table__header__text,
  table:not(.ui-datepicker-calendar) thead th,
  table:not(.ui-datepicker-calendar) thead tr {
    font-size: .65rem !important; }

  .invoices_index table {
    margin-bottom: 40px;
    min-height: 200px;
    /*
	Label the data
	*/ }
    .invoices_index table .table__row td:not(.clear):not(.settings__options), .invoices_index table:not(.ui-datepicker-calendar) tbody tr td:not(.clear):not(.settings__options) {
      padding: .5rem .5rem .5rem 50%; }
    .invoices_index table td:not(.clear):not(.settings__options) {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%; }
    .invoices_index table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold; }
    .invoices_index table td:not(.clear):nth-of-type(1):before {
      content: "Invoice Number:"; }
    .invoices_index table td:not(.clear):nth-of-type(2):before {
      content: "Supplier:"; }
    .invoices_index table td:not(.clear):nth-of-type(3):before {
      content: "Category:"; }
    .invoices_index table td:not(.clear):nth-of-type(4):before {
      content: "Date:"; }
    .invoices_index table td:not(.clear):nth-of-type(5):before {
      content: "Total:"; } }
.table__cell > a, table:not(.ui-datepicker-calendar) tbody td > a, .table__cell--with-image > a {
  color: #77AC48; }
  .table__cell > a:hover, table:not(.ui-datepicker-calendar) tbody td > a:hover, .table__cell--with-image > a:hover {
    color: #6c9348; }

td.settings__options {
  height: 100%; }

.heading, section > form h1, section > form fieldset > h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 2.5rem;
  color: white;
  padding-bottom: .25rem; }
  .heading span, section > form h1 span, section > form fieldset > h1 span {
    color: white; }

.text, .text--error, .text--success, .social, #app #confirmation p::before, .upload--success {
  font-family: "Barlow", sans-serif; }
  .text--bold, .card .button--circular, .card .button--circular--large, .card .card__button {
    font-weight: bold; }
  .text--error, .text--success {
    color: white;
    padding: .75rem .25rem;
    text-align: center;
    width: 100%; }
  .text--error {
    background-color: #e56b68; }
  .text--success {
    background-color: #77AC48; }

.ui.autocomplete.ui-menu {
  display: block !important;
  box-sizing: border-box; }

.ui-menu .ui-menu-item {
  padding: 1rem;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
  font-size: .8rem;
  transition: .09s all ease; }
  .ui-menu .ui-menu-item:hover {
    color: white;
    background-color: #77AC48;
    border-color: #77AC48;
    cursor: pointer; }

.blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  top: 0; }
  .blur .lightbox, .blur #invoice, .blur #inventory_item {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 900px; }

.login {
  max-width: 500px;
  position: absolute;
  top: calc(50% - 40px);
  left: 50%;
  transform: translate(calc(-50% - 40px), -50%); }
  .login input {
    outline: 0;
    border: none;
    padding: .5rem .45rem;
    font-family: "Barlow", sans-serif; }

#login__form {
  position: unset;
  margin-top: 20%;
  align-self: center;
  transform: none; }
  #login__form input {
    max-width: 100%; }
  #login__form input[type=submit] {
    margin-top: 1rem;
    width: 100%;
    display: block; }

.image__container {
  padding: 0;
  top: 0; }
  .image__container img {
    width: 100%; }

#home {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%; }
  #home > a:not(.social) {
    opacity: 0.4;
    color: #6c9348;
    padding: .675rem;
    margin-top: 2rem; }
    #home > a:not(.social):hover {
      color: white;
      opacity: 1;
      background-color: #272727; }

.logo {
  align-self: center;
  max-width: 375px;
  width: 100%; }

.social {
  background-color: #272727;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 2rem auto;
  padding: 0.5rem;
  transition: .3s ease; }
  .social:hover {
    background-color: #6c9348;
    color: white; }
  .social img {
    vertical-align: middle; }

@media (max-height: 825px) and (max-width: 420px) {
  #home {
    justify-content: space-evenly;
    height: calc(100% - 40px - 40px); }

  .logo {
    max-width: 250px; }

  .social {
    font-size: .75rem;
    margin: 1rem; }
    .social img {
      width: 26px; } }
@media (max-height: 420px) and (max-width: 825px) {
  #app > section#home {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap; }
    #app > section#home .logo {
      max-width: 200px;
      margin: 10px 0 1rem; }
    #app > section#home .social {
      display: none; } }
@media (max-height: 825px) and (max-width: 420px) {
  #home .logo {
    order: 1; }
  #home .card__container {
    order: 2; }
  #home .social {
    order: 3; }
  #home > a.text, #home > a.text--error, #home > a.text--success, #home > a.social, #home > a.upload--success {
    order: 4; } }
@media (max-height: 420px) and (max-width: 825px) {
  #home {
    flex-direction: row; }
    #home .logo,
    #home .card__container,
    #home .social, #home > a.text, #home > a.text--error, #home > a.text--success, #home > a.social, #home > a.upload--success {
      order: unset; } }
.inventory__information {
  overflow-y: auto;
  padding: 2rem;
  margin-bottom: 40px;
  background-color: white; }
  .inventory__information p:first-of-type:first-letter {
    font-weight: bold;
    font-size: 5rem;
    color: #333; }
  .inventory__information p {
    font-size: 1.025rem;
    color: #555;
    line-height: 1.5rem;
    font-family: 'Crimson Text', serif;
    text-align: justify;
    padding: 0 1rem; }
  .inventory__information strong {
    font-weight: 600;
    color: #333; }
  .inventory__information span {
    font-style: italic; }

#loading {
  position: relative;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  transform: translate(-50%, -50%); }
  #loading svg {
    width: 100%; }
  #loading svg path,
  #loading svg rect {
    fill: #77AC48; }

.clear {
  cursor: default;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  border: 0 !important;
  margin-top: -40px; }

#app {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  min-height: 700px; }

#app > section {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  max-width: 1080px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1; }
  #app > section.invoices_index, #app > section.inventory_index {
    background-color: #4c4c4c; }

@media (max-height: 420px) and (max-width: 825px) {
  #app {
    min-height: 0 !important; } }
.back__button {
  display: flex;
  flex-direction: row;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 40px;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
  padding: .5rem .75rem;
  background-color: #6c9348;
  color: white;
  transition: all ease-in-out .2s;
  opacity: 0.95; }
  .back__button:before {
    height: 20px;
    width: 20px;
    display: inline-block;
    content: "";
    background: url("./images/icons/left-arrow-hover.png") no-repeat;
    background-size: cover;
    margin: auto .5rem auto auto; }
  .back__button:focus {
    outline: 0; }
  .back__button:hover {
    opacity: 1;
    background-color: #77AC48; }

@media (max-width: 420px) and (max-height: 825px) {
  .back__button {
    font-size: .8rem; } }
#notice {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 40px;
  color: white;
  font-family: "Barlow", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .6s;
  z-index: 9999; }
  #notice.success {
    background-color: rgba(120, 171, 78, 0.95); }
  #notice.error {
    background-color: rgba(229, 107, 104, 0.95); }

.notice {
  display: inline-block;
  color: #e56b68;
  font-family: 'Barlow', sans-serif;
  font-size: 1.15rem; }

#app #confirmation {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100%;
  background-color: rgba(229, 107, 104, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center; }
  #app #confirmation p {
    position: absolute;
    top: 40%;
    bottom: auto;
    left: 0;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.2rem; }
    #app #confirmation p::before {
      display: block;
      content: 'Are you sure you want to delete?';
      width: 100%;
      color: white;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
  #app #confirmation button {
    background-color: white;
    color: #272727;
    padding: .5rem 1rem;
    margin: 0 .5rem; }
    #app #confirmation button:hover {
      background-color: #272727;
      color: white; }

#app > h1 {
  z-index: 12; }

#app > button {
  z-index: 13; }

#invoice_form > p {
  z-index: 11; }

#inventory_item img {
  max-width: 300px;
  float: right; }

#edit_inventory_form {
  flex-flow: row wrap;
  justify-content: space-between; }
  #edit_inventory_form div {
    flex: 1 50%; }
  #edit_inventory_form input[type=submit] {
    flex: 1 100%; }

@media (max-height: 825px) and (max-width: 420px) {
  #edit_inventory_form {
    margin-bottom: 40px; }

  .inventory_index table {
    margin-bottom: 40px;
    min-height: 200px;
    /*
    Label the data
    */ }
    .inventory_index table .table__row td:not(.clear):not(.settings__options), .inventory_index table:not(.ui-datepicker-calendar) tbody tr td:not(.clear):not(.settings__options) {
      padding: .5rem .5rem .5rem 50%; }
    .inventory_index table td:not(.clear):not(.settings__options) {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%; }
    .inventory_index table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold; }
    .inventory_index table td:not(.clear):nth-of-type(2):before {
      content: "Description:"; }
    .inventory_index table td:not(.clear):nth-of-type(3):before {
      content: "Quantity:"; } }
.dropbox {
  outline: 2px dashed white;
  outline-offset: -10px;
  background: #77AC48;
  opacity: .5;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  position: relative;
  cursor: pointer;
  width: 100%; }
  .dropbox::before {
    content: '';
    display: block;
    margin-right: .75rem;
    width: 20px;
    height: 20px;
    background: url("../images/icons/upload.png") no-repeat;
    background-size: contain; }
  .dropbox:hover {
    opacity: 1; }
  .dropbox p {
    font-family: "Barlow", sans-serif;
    text-align: center;
    color: white; }
  .dropbox > .file__input {
    opacity: 0;
    /* invisible but it's there! */
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer; }

#inventory_item fieldset .thumbnail {
  max-width: 200px;
  float: right; }

.thumbnail--small {
  max-width: 100px; }

.upload--success {
  color: white;
  background-color: #77AC48;
  padding: .4rem;
  text-align: center; }

.image__upload {
  display: flex;
  align-items: center; }
  .image__upload input {
    max-width: 120px;
    cursor: pointer;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .image__upload input:hover {
      opacity: 1; }
  .image__upload label {
    display: inline-flex;
    align-items: center;
    background-color: #272727; }
  .image__upload span {
    color: #77AC48; }

/*! jQuery UI - v1.12.1 - 2018-05-21
* http://jqueryui.com
* Includes: core.css, datepicker.css, menu.css, selectmenu.css, button.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
  /* support: IE8 */ }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none; }

/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-datepicker {
  width: 17em;
  padding: 0;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px; }

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

/* Icons */
.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: .5em;
  top: .3em; }

.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0; }

.ui-menu .ui-menu {
  position: absolute; }

.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  /* support: IE10, see #8844 */
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); }

.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em; }

.ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0; }

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: -1px; }

/* icon support */
.ui-menu-icons {
  position: relative; }

.ui-menu-icons .ui-menu-item-wrapper {
  padding-left: 2em; }

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .2em;
  margin: auto 0; }

/* right-aligned */
.ui-menu .ui-menu-icon {
  left: auto;
  right: 0; }

.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

.ui-selectmenu-menu .ui-menu {
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 0; }

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  padding: 2px 0.4em;
  margin: 0.5em 0 0 0;
  height: auto;
  border: 0; }

.ui-selectmenu-open {
  display: block; }

.ui-selectmenu-text {
  display: block;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis; }

.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap; }

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none; }

/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  width: 2em;
  box-sizing: border-box;
  text-indent: -9999px;
  white-space: nowrap; }

/* no icon support for input elements */
input.ui-button.ui-button-icon-only {
  text-indent: 0; }

/* button icon element(s) */
.ui-button-icon-only .ui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px; }

.ui-button.ui-icon-notext .ui-icon {
  padding: 0;
  width: 2.1em;
  height: 2.1em;
  text-indent: -9999px;
  white-space: nowrap; }

input.ui-button.ui-icon-notext .ui-icon {
  width: auto;
  height: auto;
  text-indent: 0;
  white-space: normal;
  padding: .4em 1em; }

/* workarounds */
/* Support: Firefox 5 - 40 */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-datepicker thead {
  font-family: "Exo 2", sans-serif; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-front {
  z-index: 100; }

.ui-state-disabled {
  cursor: default !important;
  pointer-events: none; }

.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-datepicker {
  width: 17em;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  background-color: transparent;
  cursor: pointer;
  opacity: 1; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  opacity: 0.8;
  transition: all ease-in-out 0.15s; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 2px; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  font-family: "Exo 2", sans-serif; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 45%; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 0.4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  background-color: #e6e6e6;
  border: 0;
  padding: .2em;
  text-align: right;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  font-family: "Barlow", sans-serif; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: .5em;
  top: 0.3em; }

.ui-widget.ui-widget-content {
  border: 0; }

.ui-widget-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #333; }

.ui-widget-content a {
  color: #333; }

.ui-widget-header {
  border: 1px solid #ddd;
  background: #272727;
  color: #FFF;
  font-weight: bold; }

.ui-widget-header a {
  color: #FFF; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #e6e6e6;
  font-weight: normal;
  color: #454545; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
  color: #454545;
  text-decoration: none; }

.ui-datepicker .ui-state-hover, .ui-datepicker .ui-widget-content .ui-state-hover, .ui-datepicker .ui-widget-header .ui-state-hover, .ui-datepicker .ui-state-focus, .ui-datepicker .ui-widget-content .ui-state-focus, .ui-datepicker .ui-widget-header .ui-state-focus, .ui-datepicker .ui-button:hover, .ui-datepicker .ui-button:focus {
  background: #77AC48;
  font-weight: normal;
  color: #fff; }
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active, .ui-datepicker a.ui-button:active, .ui-datepicker .ui-button:active, .ui-datepicker .ui-button.ui-state-active:hover {
  background: #77AC48;
  font-weight: normal;
  color: #fff; }
.ui-datepicker .ui-icon-background, .ui-datepicker .ui-state-active .ui-icon-background {
  border: #77AC48;
  background-color: #fff; }
.ui-datepicker .ui-state-highlight, .ui-datepicker .ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-header .ui-state-highlight {
  background: #6c9348;
  color: #fff; }
  .ui-datepicker .ui-state-highlight:hover, .ui-datepicker .ui-widget-content .ui-state-highlight:hover, .ui-datepicker .ui-widget-header .ui-state-highlight:hover {
    background-color: #77AC48; }

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, a.ui-button:hover, a.ui-button:focus {
  color: #fff;
  text-decoration: none; }

.ui-visual-focus {
  box-shadow: 0 0 3px 1px #5e9ed6; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #fff;
  text-decoration: none; }

.ui-state-checked {
  border: 1px solid #777;
  background: #777; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #fff; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #5f3f3f; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #5f3f3f; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35); }

.ui-icon {
  width: 16px;
  height: 16px; }

.ui-datepicker-header a:nth-of-type(2) {
  transform: rotate(180deg); }

.ui-datepicker .ui-icon {
  background-image: url("./images/icons/back-button-green.png");
  background-size: cover; }
  .ui-datepicker .ui-icon:hover {
    background-image: url("./images/icons/left-arrow-hover.png"); }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0; }

.ui-widget-overlay {
  background: #aaa;
  opacity: .3;
  filter: Alpha(Opacity=30); }

.ui-widget-shadow {
  -webkit-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666; }

.dropdown, select + span:not(.ui-icon) {
  padding: 10px 16px;
  /* Firefox */
  height: 40px;
  /* Chrome & Safari */
  -webkit-border-radius: 0;
  background: white;
  border: 0;
  outline: 1px inset #fff;
  outline-offset: -1px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  max-width: 400px;
  min-height: 37.9988px;
  min-width: 196px;
  position: relative;
  text-align: left;
  text-decoration-color: rgba(0, 0, 0, 0.87);
  transition-delay: 0s, 0s;
  transition-duration: 0.1s, 0.1s;
  transition-property: box-shadow, width;
  transition-timing-function: ease, ease;
  vertical-align: baseline;
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.add_fields__button {
  background-color: #272727;
  align-self: flex-end;
  margin-right: 1rem; }

.add_fields__form td {
  padding: 4px; }
  .add_fields__form td:first-of-type {
    padding-left: 4rem; }
.add_fields__form input {
  padding: .75rem;
  width: 100%; }

@media (max-height: 420px) and (max-width: 825px) {
  .add_fields__form td {
    padding: 0 !important; }
    .add_fields__form td:first-of-type {
      padding-left: 40px !important; }
      .add_fields__form td:first-of-type button {
        left: -6px; }
    .add_fields__form td::before {
      display: none !important; }

  .add_fields__form table {
    margin-bottom: 0 !important; } }
.custom_select {
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: .7rem;
  height: 40px;
  width: 100%;
  min-width: 196px;
  max-width: 400px;
  font-family: "Barlow", sans-serif;
  font-size: .9rem; }

.ui-selectmenu-menu,
.ui-selectmenu-menu ul {
  width: 100%;
  max-width: 400px; }

/* The Icon */
.custom_select > span,
.ui-selectmenu-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto; }

select + span:not(.ui-icon) {
  /*  */
  display: flex;
  align-items: center; }
  select + span:not(.ui-icon):hover {
    background-color: white; }

.section__header, #app > section > header {
  display: flex;
  flex-direction: column;
  background: #272727;
  padding: 1rem 2rem;
  width: 100%;
  flex-shrink: 0; }
  .section__header .heading, #app > section > header .heading, .section__header section > form h1, section > form .section__header h1, #app > section > header section > form h1, section > form #app > section > header h1, .section__header section > form fieldset > h1, section > form .section__header fieldset > h1 {
    padding-top: 30px; }

.section__footer, #app > section > footer {
  display: flex;
  flex-direction: row;
  height: 40px;
  flex-wrap: wrap;
  background: #272727;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0; }

.section__footer button, #app > section > footer button {
  font-family: "Exo 2", sans-serif;
  font-size: .85rem;
  display: inline-flex;
  align-items: center;
  transition: all ease-in-out .125s;
  color: white; }
  .section__footer button:hover, #app > section > footer button:hover {
    cursor: pointer; }
  .section__footer button:focus, #app > section > footer button:focus {
    outline: 0; }
  .section__footer button.next, #app > section > footer button.next {
    margin-left: auto; }
  .section__footer button.prev::before, #app > section > footer button.prev::before, .section__footer button.next::after, #app > section > footer button.next::after {
    height: 1.35rem;
    width: 1.35rem;
    content: "";
    margin: 0 5px;
    transform: translateX(180); }

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .dashboard__notice {
    opacity: .5;
    align-items: center;
    font-family: "Barlow", sans-serif;
    font-size: .85rem;
    margin: 0 1rem;
    color: #272727; }
    .dashboard__notice:hover {
      opacity: 1; }
    .dashboard__notice span {
      font-weight: bolder;
      color: #77AC48; }
    .dashboard__notice:not(.items_to_change_0) span {
      color: #e56b68; }

.dashboard table td {
  padding: 0 1rem !important; }
.dashboard table .dropbox {
  min-height: 70px; }
  .dashboard table .dropbox + div > img.thumbnail {
    display: none; }
.dashboard table tr {
  cursor: default !important; }
.dashboard table td img {
  width: 100%; }
.dashboard table legend {
  display: none; }

@media (max-height: 825px) and (max-width: 420px) {
  .dashboard__notice {
    font-size: .65rem; } }
.invoice_total__container, form > p {
  background-color: #77AC48;
  color: white;
  padding: 1rem;
  max-width: 200px;
  position: absolute;
  right: 0;
  width: 100%;
  top: 2rem;
  font-family: "Barlow", sans-serif;
  font-size: 1.75rem; }
  .invoice_total__container span, form > p span {
    /* 'Total' string */
    font-size: 1rem;
    font-family: "Exo 2", sans-serif;
    display: block;
    width: 100%;
    margin-bottom: .25rem; }

@media (max-height: 825px) and (max-width: 420px) {
  .invoice_total__container, form > p {
    padding: .5rem;
    max-width: 100px;
    font-size: 1rem; }
    .invoice_total__container span, form > p span {
      font-size: .8rem; } }
#invoices_index col:nth-of-type(1) {
  width: 4%; }
#invoices_index col:nth-of-type(2) {
  width: 16%; }
#invoices_index col:nth-of-type(3) {
  width: 20%; }
#invoices_index col:nth-of-type(4) {
  width: 20%; }
#invoices_index col:nth-of-type(5) {
  width: 10%; }
#invoices_index table {
  min-height: 800px;
  display: block; }

@media (max-height: 825px) and (max-width: 420px) {
  .invoices_index,
  .inventory_index {
    min-height: calc(100vh - 40px) !important; } }
@media (max-height: 420px) and (max-width: 825px) {
  .invoices_index,
  .inventory_index {
    min-height: calc(100vh - 40px) !important; } }
.settings__control {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  right: 1rem; }
  .settings__control button {
    cursor: pointer; }
  .settings__control > button {
    width: 1.375rem;
    height: 1.375rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    transition: background-color ease-in-out 0.125s;
    margin: 0 4px; }
    .settings__control > button[name="settings"] {
      padding: 3px; }
    .settings__control > button[name="new"] {
      font-weight: bold;
      padding: 0;
      font-family: "exo 2", sans-serif;
      font-size: 1.4rem;
      line-height: 1.375rem; }
  .settings__control > button:hover {
    color: white;
    background-color: #6c9348; }
    .settings__control > button:hover svg path {
      fill: white; }
  .settings__control > div > button:hover {
    transform: scale(1.1); }

.settings__options {
  text-align: center !important;
  background-color: #272727;
  min-width: 100px;
  border-color: #272727 !important; }
  .settings__options > button {
    padding: 0;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden; }
    .settings__options > button[name='edit'] {
      background: url("./images/icons/edit.svg") no-repeat;
      background-size: cover; }
      .settings__options > button[name='edit']:hover {
        background: white url("./images/icons/edit-hover.svg") no-repeat;
        background-size: cover; }
      .settings__options > button[name='edit'] svg {
        width: 100%; }
    .settings__options > button[name='delete'] {
      background-color: white;
      margin-left: .2rem;
      padding: 3px; }
      .settings__options > button[name='delete']:hover {
        background-color: #e56b68; }
        .settings__options > button[name='delete']:hover svg path {
          fill: white; }
      .settings__options > button[name='delete'] svg path {
        fill: #272727; }

.settings__control > .results_per_page {
  display: inline-block;
  margin-right: 2rem; }
  .settings__control > .results_per_page::before {
    content: 'Results per page:';
    margin-right: .5rem;
    float: left;
    font-size: .8rem; }
  .settings__control > .results_per_page::before,
  .settings__control > .results_per_page button,
  .settings__control > .results_per_page button::after {
    font-family: 'exo 2', sans-serif;
    font-weight: lighter;
    color: white; }
  .settings__control > .results_per_page button {
    padding: 0;
    float: left;
    font-size: 1.25rem; }
    .settings__control > .results_per_page button:not(.active) {
      font-size: .75rem; }
  .settings__control > .results_per_page button::after {
    content: '|';
    padding: .2rem;
    color: #77AC48; }

@media (max-height: 825px) and (max-width: 420px) {
  .settings__control > .results_per_page::before {
    font-size: .6rem; }

  .settings__control button {
    font-size: 1rem; } }
#invoice .add_fields__form td {
  position: relative; }

#invoice form input + .error {
  color: white;
  background-color: #e56b68;
  padding: .5rem;
  text-align: center;
  width: 100%;
  max-width: 400px; }

.add_fields__form {
  padding: 0; }
  .add_fields__form button:not(.add_fields__button) {
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    padding: .5rem;
    width: 2.5rem;
    height: 1.5rem;
    opacity: 0.8;
    transition: all ease-in-out .125s; }
    .add_fields__form button:not(.add_fields__button):hover {
      opacity: 1; }

#invoice, #inventory_item {
  background-color: #3e3e3e;
  justify-content: flex-start !important; }
  #invoice > footer > button, #inventory_item > footer > button {
    font-size: .8rem; }
    #invoice > footer > button:focus, #inventory_item > footer > button:focus {
      outline: 0; }
    #invoice > footer > button:before, #inventory_item > footer > button:before {
      height: 21.59px;
      width: 21.59px;
      content: '';
      border-radius: 50%;
      margin-right: .25rem; }

/* Invoice Total */
@media (max-height: 825px) and (max-width: 420px) {
  #invoice table {
    margin-bottom: 40px;
    min-height: 200px;
    /*
    Label the data
    */ }
    #invoice table .table__row td:not(.clear):not(.settings__options), #invoice table:not(.ui-datepicker-calendar) tbody tr td:not(.clear):not(.settings__options) {
      padding: .5rem .5rem .5rem 50%; }
    #invoice table td:not(.clear):not(.settings__options) {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%; }
    #invoice table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold; }
    #invoice table td:not(.clear):nth-of-type(1):before {
      content: "Description:"; }
    #invoice table td:not(.clear):nth-of-type(2):before {
      content: "Category:"; }
    #invoice table td:not(.clear):nth-of-type(3):before {
      content: "Quantity:"; }
    #invoice table td:not(.clear):nth-of-type(4):before {
      content: "Unit Price:"; }
    #invoice table td:not(.clear):nth-of-type(5):before {
      content: "Total:"; } }

/*# sourceMappingURL=style.css.map */
