.add_fields__button {
  @extend .button;
  background-color: $theme-grey;
  align-self: flex-end;
  margin-right: 1rem;
}

.add_fields__form {
  td {
    padding: 4px;
    &:first-of-type {
      padding-left: 4rem;
    }
  }
  input {
    padding: .75rem;
    width: 100%;
  }
}

@media #{$mobile-landscape-height} and #{$mobile-landscape-width} {
  .add_fields__form td {
    padding: 0 !important;
    &:first-of-type {
      padding-left: 40px !important;
      button {
        left: -6px;
      }
    }
    &::before {
      display: none !important
    }
  }
  .add_fields__form table {
    margin-bottom: 0 !important;
  }
}