.custom_select {
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: .7rem;
  height: 40px;
  width: 100%;
  min-width: 196px;
  max-width: 400px;
  font-family: $theme-primary-font;
  font-size: .9rem;
}

.ui-selectmenu-menu,
.ui-selectmenu-menu ul {
  width: 100%;
  max-width: 400px;
}

/* The Icon */
.custom_select > span,
.ui-selectmenu-icon {
  @extend .icon--down_arrows;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto;
}

select + span:not(.ui-icon) { /*  */
  @extend .dropdown;
  display: flex;
  align-items: center;
  &:hover {
    background-color: white;
  }
}