.dropdown {
  padding: 10px 16px; /* Firefox */
  height: 40px; /* Chrome & Safari */
  -webkit-border-radius: 0;
  background: white;
  border: 0;
  outline: 1px inset #fff;
  outline-offset: -1px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  max-width: 400px;
  min-height: 37.9988px;
  min-width: 196px;
  position: relative;
  text-align: left;
  text-decoration-color: rgba(0, 0, 0, 0.87);
  transition-delay: 0s, 0s;
  transition-duration: 0.1s, 0.1s;
  transition-property: box-shadow, width;
  transition-timing-function: ease, ease;
  vertical-align: baseline;
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}