.section__footer {
  @include flex(row);
  height: $navigation-height;
  flex-wrap: wrap;
  background: $theme-grey;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.section__footer button {
  font-family: $theme-secondary-font;
  font-size: .85rem;
  display: inline-flex;
  align-items: center;
  transition: all ease-in-out .125s;
  color: white;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &.next {
    margin-left: auto;
  }
  &.prev::before {
    @extend .icon--previous;
  }
  &.next::after {
    @extend .icon--next;
  }
  &.prev::before,
  &.next::after {
    @include icon(1.35rem, 1.35rem);
    content: "";
    margin: 0 5px;
    transform: translateX(180);
  }
}
