.dashboard {
  @include flex(row);
  align-items: center;
  &__notice {
    opacity: .5;
    align-items: center;
    font-family: $theme-primary-font;
    font-size: .85rem;
    margin: 0 1rem;
    color: $theme-grey;
    &:hover {
      opacity: 1;
    }
    span {
      font-weight: bolder;
      color: $theme-green;
    }
    &:not(.items_to_change_0) span {
      color: $theme-red;
    }
  }
  button {
    @extend .button;
  }
}

.dashboard table {
  td {
    padding: 0 1rem !important;
  }
  .dropbox {
    min-height: 70px;
    + div > img.thumbnail {
      display: none;
    }
  }
  tr {
    cursor: default !important;
  }
  td img {
    width: 100%;
  }
  legend {
    display: none;
  }
}
@media #{$mobile-portrait-height} and #{$mobile-portrait-width} {
  .dashboard__notice {
    font-size: .65rem;
  }
}
